---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Socials from "@/components/Socials.astro";
import LinkButton from "@/components/LinkButton.astro";
import Card from "@/components/Card.astro";
import Hr from "@/components/Hr.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import IconRss from "@/assets/icons/IconRss.svg";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import { SITE } from "@/config";
import { SOCIALS } from "@/constants";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
// const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
---

<Layout>
  <Header />
  <main id="main-content" data-layout="index" dir="rtl">
    <section id="hero" class="pt-8 pb-6">
      <h1 class="my-4 inline-block text-4xl font-bold sm:my-8 sm:text-5xl">
        כאן שואלים בכיף

      </h1>

      <p>
        אם תמיד כשאמרו לך ש"אסור" לשאול, ש"חדש אסור מן התוירה" שלשאול ברצינות למה עושים כך או כך "זה גובל בכפירה"
        שההיגיון שאמור להנחות אותך במהלך כל חייך זה ש"אתה לא יותר חכם מגדוילי ישראל"
        ו"ככה היה מקדמא דנא",
        ואיכשהו צבט לך שזו לא הדרך, לא ככה אדם סביר מחליט את ההחלטה החשובה ביותר שיש לו. איך לחיות את חייו הוא.
        <br>
        אם אכן כך, ואתה מסוגל לשאול, איך הגענו לאן שהגענו, אז כאן זה המקום.
        <br>
        כאן אני אשאל, בלי פילטרים, את השאלות שניקרו לי במהלך חיי, בהם צמחתי מעולם הישיבות והערכים הליטאי לעבר תעשיית ההייטק והאתאיזם.
        <br>

        אולי לא יוצאים מכאן עם תשובות אבל עם שאלות אני בטוח שאפשר לצאת למכביר :)


      </p>
      <p class="mt-2">
        לקריאה רחבה יותר על המוטיבציה והפילוסופיה מאחורי הבלוג ראה
        <LinkButton
          class="underline decoration-dashed underline-offset-4 hover:text-accent"
          href="/about"
        >
          אודות
        </LinkButton>
        <br>
        לפניות, הצעות, שאלות או חפירות ניתן ליצור קשר במייל
        <LinkButton
            class="underline decoration-dashed underline-offset-4 hover:text-accent"
            href="mailto:contact@hashoel.org"
        >
          contact@hashoel.org
        </LinkButton>
      </p>
    </section>

    <Hr />

    <!--{-->
    <!--  featuredPosts.length > 0 && (-->
    <!--    <>-->
    <!--      <section id="featured" class="pt-12 pb-6">-->
    <!--        <h2 class="text-2xl font-semibold tracking-wide">Featured</h2>-->
    <!--        <ul>-->
    <!--          {featuredPosts.map(data => (-->
    <!--            <Card variant="h3" {...data} />-->
    <!--          ))}-->
    <!--        </ul>-->
    <!--      </section>-->
    <!--      {recentPosts.length > 0 && <Hr />}-->
    <!--    </>-->
    <!--  )-->
    <!--}-->

    {
      recentPosts.length > 0 && (
        <section id="recent-posts" class="pt-12 pb-6">
          <h2 class="text-2xl font-semibold tracking-wide">פוסטים שעלו לאחרונה</h2>
          <ul>
            {recentPosts.map(
              (data, index) =>
                index < SITE.postPerIndex && <Card variant="h3" {...data} />
            )}
          </ul>
        </section>
      )
    }

    <div class="my-8 text-center">
      <LinkButton href="/posts/">
        כל הפוסטים
        <IconArrowRight class="inline-block rtl:-rotate-180" />
      </LinkButton>
    </div>
  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script>
